*{
  margin: 0%;
  padding: 0%;
}
body{
  position: relative;
}
canvas {        
    background-color:black;
    border: solid 1px black;
  }
  button{
    padding: 7px 20px;
    font-size: 18px;
  }
h1{
  position: absolute;
  top:50%;
  left: 50%;
  font-size: 92px;
  color: white;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  z-index: 9999;
  letter-spacing: 40px;
  text-indent: 40px;
}

